<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uiexample3">
<!--    notification ~ s2 | android:name=".Notf"
        next step in ReminderFormActivity.java ~ to creat notf when the add btn click -->
    <application
        android:name=".Notf"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/CustomizedAppTheme">
        <activity
            android:name=".TaskFormActivity"
            android:label="Task Form"
            android:parentActivityName=".TasksActivity"
            android:exported="true" />
        <activity
            android:name=".ReminderFormActivity"
            android:parentActivityName=".RemindersActivity"
            android:label="Reminder Form"
            android:exported="true" />
        <activity
            android:name=".RemindersActivity"
            android:parentActivityName=".MainActivity"
            android:label="Reminder List"
            android:exported="true" />
        <activity
            android:name=".TasksActivity"
            android:parentActivityName=".MainActivity"
            android:label="Task List"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>